* {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* box-sizing: border-box; */
    text-decoration: none;
}

.main__fieldset {
    /* width: 100%; */
    width: 530px;
    background-color: #fff;
    /* border: 3px solid lightgray; */
    border: 1px solid hsla(0, 0%, 95%, .5);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
    margin: 64px auto;

}

.fieldset__legend {
    text-align: center;
}

.fieldset__legend img {
    border-radius: 8px;
}

.fieldset__heading {
    text-align: center;
    margin-top: 10px;
}

body {
    /* width: 530px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: flex; */
}

#main {
    /* display: flex; */
    background-color: #fafafa;
    height: auto;
    width: 100%;
}

.fieldset__form {
    padding: 35px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}


.form__input {
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
}

.form__input--submit {
    color: #fff;
    background-color: #de3535;
    outline: auto;
    padding: 15px;
    border-radius: 3px;
    font-size: 15px;
}

.form__p--1 {
    font-size: 11px;
}

.form__p--2 {
    text-align: center;
    margin-top: 32px;
}

.form__p--2 a {
    color: #de3535;
}

.form__p--2 a:hover {
    text-decoration: underline;
}

.btn-search--click {
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
}



.form-group__btn {
    border: none;
    outline: none;
    color: #222;
    margin-top: -45px;
    margin-right: 15px;
    float: right;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 18px;
    background: none;
}



.form-group__btn:hover {
    color: #de3535;
}