/* PHI NGOC TAI */
* {
    text-decoration: none;
}

.main__fieldset {
    padding: 35px;
    width: 530px;
    background-color: #fff;
    border: 1px solid hsla(0, 0%, 95%, .5);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
    margin: 64px auto;

}

.fieldset__legend {
    text-align: center;

}

.fieldset__legend img {
    border-radius: 8px;
}


#main {
    background-color: #fafafa;
    height: auto;
    width: 100%;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    margin-top: 7px;
    align-items: center;
}


.form__label {
    font-size: 14px;
}

.form__label--forget:hover,
.form-wrapper a:hover {
    text-decoration: underline;
}

.form__input {
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;

}

#Email,
#password {
    width: 100%;
}

.form__btn {
    background: #e40000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 15px 17px;
    font-size: 16px;
    font-weight: bold;


}


.form-group__btn {
    background: none;
    border: none;
    outline: none;
    color: #222;
    margin-top: -45px;
    margin-right: 15px;
    float: right;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 18px;
}

.form-group__btn:hover {
    color: #de3535;
}

.form__btn:hover {
    background-color: red;
}

.form__link--fb,
.form__link--gg {
    color: #fff;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;

}

.form__link--fb span,
.form__link--gg span {
    margin-right: 5px;
}

.form__link--fb {
    background-color: #3b5999;
}

.form__link--fb:hover {
    background-color: #3e6ed4;
}

.form__link--gg {
    background-color: #dd4b39;
}

.form__link--gg:hover {
    background-color: red;
}

.main__p {
    text-align: center;
    font-size: 11px;
    margin-bottom: 8px;
}

.form-social {
    display: block;
    padding: 5px 5px;
}

.form__heading--4,
.form__heading--1 {
    text-align: center;
}

.form__heading--1 {
    font-size: 24px;
    color: #222;
    line-height: 1.5;
}

.form__heading--4 {
    margin-top: 40px;
}

.check_box input {
    margin: 0;
}

.form-wrapper a {
    color: #DE3535;
}

.btn-search--click {
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
}