/* PHI NGOC TAI */
#main {
    background-color: #fafafa;
    height: auto;
    width: 100%;
    padding: 40px 0;
}

.main-wrapper {
    display: flex;
    width: 1068px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(242, 242, 242, 0.5);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
}

.right__input,
.right__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
}

.main--left,
.main--right {
    width: 50%;
    padding: 0 15px;
}

.main--left h2,
.main--right h2,
.main--left h4 {
    margin-bottom: 10px;
}

.main--left p {
    margin-bottom: 5px;
}

.main--left a {
    text-decoration: none;
    color: #e24b30;
}

.main--right input {
    margin-bottom: 1rem;
}

.main--right h2 {
    margin: 0 0 20px;
}

.right__btn {
    padding: 8px 0;
    width: 100%;
    color: #fff;
    background-color: #de3535;
    outline: auto;
    font-size: 16px;
    line-height: 1.5;
}

.right__btn:hover {
    background-color: #fff;
    border: 1px solid #de3535;
    color: #de3535;
    cursor: pointer;
}

.main__frame {
    height: 350px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.btn-search--click {
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
}