@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    display: grid;
    font-family: Verdana, Geneva, sans-serif;
    /* font-family: "Poppins"; */
}

.d-flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */
.mobile-nav {
    display: none;
}

.nav__btn-menu {
    display: none;
}

/* Header */

#header {
    transition: 0.4s ease;
    transform: scale(1);
    width: 100%;
    font-size: 11px;
    background-color: #385c7b;
}


.header-top {
    display: flex;
    width: 1068px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}

.header-top__link {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

.header-top__link:hover {
    color: #e24a32;
}

.header__nav-wraper {
    background-color: #000;
}

.header__nav {
    width: 1068px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.nav__input {
    display: none;
}

.nav__list {
    display: flex;
    align-items: center;
    color: #fff;
    list-style: none;
    margin-bottom: 0;
}

.nav__item {
    font-size: 14px;
    padding: 0 31px 0 14px;
    font-weight: 600;
}

.nav__list>li:first-of-type {
    margin-left: 20px;
}

.nav__item-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 67px;
}

.nav__item:hover {
    background-color: #e24a32;
}

.dropdown {
    /* width: auto; */
    position: relative;
}

.dropdown:hover .nav__item-dropdown {
    /* display: block; */
    visibility: visible;
}

.nav__item-dropdown {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    list-style: none;
    background-color: #fff;
    /* background-color: #0a0a0a; */
    top: 100%;
    left: -12px;
    border-radius: 2px;
    padding: 12px 0;
    border: 1px solid hsla(0, 0%, 95%, .5);
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 15%);
    width: 18em;
    z-index: 1;
}

.dropdown-item {}

.dropdown-item a {
    padding: 10px 30px;
    display: block;
    line-height: 20px;
    font-size: 12px;
    color: #111;
    /* color: #fff; */
    text-decoration: none;
    font-weight: 450;
}


.dropdown-item:hover a {
    color: #e24a32;

}


/* .header-brand {
    display: inline;
} */

.nav__btn-search {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0 16px;
    position: relative;
    height: 100%;
}

.nav__btn-search:hover {
    cursor: pointer;
}

.btn-search--click {
    position: absolute;
    visibility: hidden;
    top: 100%;
    right: 0;
    width: 342px;
    background-color: #fff;
    height: 71px;
    z-index: 1;
}

.btn-search--click::before {
    content: "";
    position: absolute;
    height: 3px;
    top: -3px;
    background-color: #e24a32;
    width: 100%;
    display: block;
}

.btn-search--click::after {
    content: "";
    display: block;
    position: absolute;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #e24a32 transparent;
    border-style: solid;
    top: -9px;
    right: 18px;
}

.btn-search--click input {
    padding: 3px 9px;
    /* display: inline-block; */
    height: 32px;
    border: 1px solid #e1e1e1;
    outline: none;
    width: 235px;
}

.btn-search--click a {
    padding: 7px 15px 9px;
    display: inline-block;
    color: #fff;
    background-color: #222222;
    text-decoration: none;
    height: 32px;
    font-size: 14px;

}

@keyframes btn-search-animation-show {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}


@keyframes btn-search-animation-hide {
    from {
        opacity: 1;
        /* transform: translateY(0); */

    }

    to {
        opacity: 0;
        transform: translateY(30%);
    }
}

.nav__btn-cart {
    height: 100%;
    font-size: 20px;
    background-color: inherit;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.nav__btn-cart span {
    position: absolute;
    color: #fff;
    background-color: rgb(164, 53, 240);
    top: 15px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    font-size: 12px;
    right: -10px;
}

.nav__btn-cart:hover {
    cursor: pointer;
}


/* Main */
#main {
    transition: 0.4s ease;
    transform: scale(1);
    /* height: 1500px; */
    background-color: #1a1a1a;
}

/* Footer */

#footer {
    transition: 0.4s ease;
    transform: scale(1);
    width: 100%;
}

.footer-top-wrapper {
    background-color: #202228;
}

.footer-top,
.footer-mid {
    margin-left: auto;
    color: #fff;
    margin-right: auto;
    width: 1068px;
    display: flex;
    padding: 27px 0;
}

.footer-top p {
    width: 50%;
}

.footer-top__form {
    width: 50%;
    padding: 0 15px;
}

.footer-top__input {
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    width: calc(100% - 144px);
    border-radius: 4px;
    outline: none;
}

.footer-top__btn {
    height: 44px;
    line-height: 44px;
    width: 130px;
    background-color: #de3535;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 0 15px;
    font-weight: 600;
}

.footer-top__btn:hover {
    background-color: red;
}

.footer-top__p {
    margin: 15px auto;
    /* visibility: hidden;
     */
    display: none;
}

.footer-mid-wrapper {
    background-color: #000;
    color: #fff;
}

.footer-mid {}

.footer-mid__img {
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-mid__img img {
    width: 231px;
    height: 75px;
}

.footer-mid-about {
    width: calc(100% - 25% - 33.3333334%);
    padding: 0 24px;
    font-size: 14px;
}

.footer-mid-about h4,
.footer-mid-follow h4 {
    margin-bottom: 26px;
    font-size: 18px;
}

.footer-mid-about p:last-child {
    padding-top: 21px;
}

.footer-mid-about a {
    color: #de3535;
}

.footer-mid-follow {
    width: 33.3333333%;
}

.footer-mid-follow {
    padding: 0 24px;

}

.footer-mid-follow a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    background-color: #23252e;
    border-radius: 50%;
}

.footer-mid-follow a:hover {
    color: #4db2ec;
}

.footer-bottom {
    background-color: #000000;
    color: #fff;
    text-align: center;
}

.footer-bottom::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: block;
}

.footer-bottom p {
    padding: 32px 0;
    font-size: 14px;
}

.footer__btn-top {
    position: fixed;
    bottom: 2px;
    right: 2px;
    height: 40px;
    width: 40px;
    background-color: #e24a32;
    border: none;
    cursor: pointer;
    visibility: hidden;
    /* animation: showBtnTop ease-in-out 5s; */
    border-radius: 2px;
}

@keyframes showBtnTop {
    from {
        bottom: -100%;
    }

    to {
        bottom: 2px;
    }
}

@keyframes hideBtnTop {
    from {
        bottom: 2px;
    }

    to {
        bottom: -100%;
    }
}

.footer__btn-top a {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}