body {
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'footer footer footer footer footer footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}